<p>Are you sure you want to delete:</p>
<blockquote><p><%= h @item.content unless @item.nil? %></p></blockquote>
<form action="/delete/<%= @item.id unless @item.nil? %>" method="POST">
  <button type="submit" class="btn btn-primary" name="ok">OK</button>
  <button type="submit" class="btn" name="cancel">Cancel</button>
</form>
